body {

    background-color: #222;
    
    }
    
    .box {
        border-radius: 5px;
        height: 85vh;
        width: 50%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #aaa;
    }
    
    .box-item {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #434343;
    }
    
    .box1-on {
        background-color:green;
    }
    
    .box2-on {
        background-color: yellow;
    }
    
    .box3-on {
        background-color: red;
    }
    